.container {
  display: inline-block;
  height: 275px;
  width: 290px;
  margin: 20px;
  border-radius: 1rem;
  border: 2px dashed #121212;
  background: linear-gradient(#121212, #121212) padding-box,
    linear-gradient(127.82deg, #8f00ff 29.63%, #0038ff 100%) border-box;
}
